:root {
  --main-text: rgba(255, 255, 255, 0.6);
  --emphasis-text: rgba(255, 255, 255, 0.87);
  --primary-accent: #97c4e1;
  --secondary-accent: #e197c5;
}

body {
  background-color: #121212;
  font-family: "Georama", sans-serif;
  color: var(--main-text);
}

h1 {
  font-size: 170px;
  font-family: "Caveat", cursive;
  color: var(--primary-accent);
  opacity: 87%;
}

h2 {
  color: var(--emphasis-text);
  font-size: 32px;
  margin-bottom: 0px;
}

.navbar {
  background-color: #1e1e1e;
}

.nav-link {
  color: var(--secondary-accent);
  opacity: 60%;
}

.active {
  opacity: 87%;
}

.nav-link:hover {
  color: var(--secondary-accent);
  opacity: 50%;
}

.site {
  background-color: #1e1e1e;
}

.hero {
  text-align: center;
  padding: 150px 0px 180px;
}

.hero p {
  color: var(--main-text);
  font-size: 20px;
}

.contact-links i {
  color: var(--secondary-accent);
  font-size: 24px;
  opacity: 87%;
}

.hero i {
  transition: 100ms ease-in-out;
}

.hero i:hover {
  opacity: 50%;
}

.down-arrow {
  padding-top: 80px;
}

.bi-arrow-down {
  font-size: 30px;
  color: var(--main-text);
}

.homepage-text {
  font-size: larger;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.homepage-text a {
  text-decoration: none;
  color: var(--main-text);
}

#project-display {
  padding: 70px 0px;
}

.project-display .row {
  margin: 0px 0px 15px 0px;
}

.section-heading {
  padding: 15px 0px;
  text-align: center;
  color: var(--emphasis-text);
  font-size: 36px;
}

.project {
  padding: 30px 50px;
}

.card-img {
  opacity: 10%;
  transition: 150ms ease-in-out;
}

.project-text {
  color: var(--emphasis-text);
  font-family: "Caveat", cursive;
  font-size: 34px;
  font-weight: bold;
  transition: 150ms ease-in-out;
}

.project:hover .card-img {
  opacity: 0.3;
}

.project:hover .project-text {
  opacity: 1;
}

.contact-btn {
  padding-bottom: 50px;
}

.contact-btn a {
  transition: 100ms ease-in-out;
}

.contact-btn a:hover {
  opacity: 50%;
}

.footer {
  text-align: center;
  padding-bottom: 20px;
}

.footer a {
  text-decoration: none;
  color: var(--primary-accent);
  transition: 100ms ease-in-out;
}

.footer a:hover {
  opacity: 50%;
}
